$dark: #323232;

h1 {
    color: $dark;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    > * {
        display: inline-block;
    }
}